<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/meta'); %>
    <title>Dashboard</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <div class="section">
        <div class="container">
            <h1 class="title">
              Hello World
            </h1>
            <p class="subtitle">
              My first website with <strong>Bulma</strong>!
            </p>
          </div>
    </div>

    <script>
        $(document).ready(function () {});
    </script>

    <%- include('./partials/footer'); %>
</body>

</html>